@import "../../../../../assets/styles/_globals__";
$bgNavColor: rgba(0, 0, 0, 0.212);

.Nav {
  padding: 1rem;
  background-color: $bgNavColor;
  grid-column:1/-1;
  grid-row:3/-1;

  & > h1 {
    font-size: 3rem;
    transition: 0.45s;
    letter-spacing: 0.5rem;
  }

  & > small {
    font-size: 1.2rem;
  }

  &:hover {
    background-color: darken(rgba($bgNavColor,.2), 10%);
  }

}
